extends ../../shade/layout
block content
  link(href="/skin/css/jsDome/1.css", rel="stylesheet")
  
  .container#container(ref='container')
    button.btn.btn-default.ripple-effect 点击波纹

  script(src="/skin/js/jsDome/1.js")
  