extends ../../shade/layout
block content
 link(href="/skin/css/jsDome/2.css", rel="stylesheet")
 .container#container(ref='container')
    .w300
      .w200
        .w160
          .w120
            .w80
              .w40
    .w300
      .w200
        .w160
          .w120
            .w80
              .w40
  
  .container#container(ref='container')
    

  