//- 底部
.footer#dibu
  .info
    .container.clearfix
      

  .bottom
      .container
        span 老苏练习记录
        //- span ICP证：粤ICP备14040204号-2
  script(src="/skin/js/common.js")
  script(src="/skin/js/footer.js")


