extends ../../shade/layout
block content

  .container#container(ref='container')
  script.
    // 15.3 回到 JavaScript 的装饰者

    /*
      JavaScript 语言动态改变对象相当容易，我们可以直接改写对象或者对象的某个方法，并不
      需要使用“类”来实现装饰者模式，代码如下：
    */
    var plane = {
      fire: function(){
        console.log('发射普通子弹');
      }
    }

    var missileDecorator = function(){
      console.log( '发射导弹' );
    }
    var atomDecorator = function(){
      console.log( '发射原子弹' );
    }
    var fire1 = plane.fire;

    plane.fire = function(){
      fire1();
      missileDecorator();
    }

    var fire2 = plane.fire;

    plane.fire = function(){
      fire2();
      atomDecorator();
    }

    plane.fire();
    // 分别输出： 发射普通子弹、发射导弹、发射原子弹