@import '../comStyle/mixin.scss';
@import "../comStyle/font.scss";

/************
 * 共用样式
 ************/

* {
  box-sizing: border-box;
  // user-select: none;
  // 去除移动端浏览器点击元素时的边框
  /* 来自http://www.cnblogs.com/PeunZhang/archive/2013/02/28/2907708.html*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}


/*基本默认值  */

[v-cloak] {
  display: none;
}

html {
  font-size: 62.5%;
  color: #222;
  font-family: "微软雅黑";
}

textarea,
input,
select,
button {
  font-family: "微软雅黑";
}

textarea {
  resize: none;
  display: block;
}

html,
body {
  min-height: 100%;
  // overflow-x: hidden;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

button {
  cursor: pointer;
}

ul,
dl,
dt,
dd,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
select,
button,
textarea {
  padding: 0;
  outline: none;
}

input[type='text'],
input[type='password'] {
  -webkit-appearance: none; // iOS 输入框阴影
}

img {
  vertical-align: top;
}


/*
   工具样式
    */

.mt20 {
  margin-top: 20px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

@mixin pop() {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.31, 0.57, 0.68, 1.36) 0s;
  visibility: visible;
  z-index: 100;
  top: 44px;
  left: -20px;
  &::after {
    left: 30px;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(0.3);
      transform: scaleY(0.3);
    }
  }
}


/*
   浏览器更新提示
    */

.browserupgrade {
  margin: 0;
  padding: 1rem;
  background: #ccc;
}


/*
   自定义页面样式
    */

body {
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #fff;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover,
a:active {
  color: #5ee075;
  cursor: pointer;
  //text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
}


/**
 * 头部
 */

body {
  position: relative;
  min-height: 100%;
}

.header-top {
  height: 40px;
  background: #40454b;
  color: #fff;
  font-size: 0;
  .container {
    height: 40px;
  }
  .header-top-l,
  .header-top-r {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 40px;
    float: left;
    &>span {
      display: inline-block;
      height: 22px;
      line-height: 22px;
      padding-right: 12px;
      .pop-up {
        right: auto;
        left: -30px;
        a {
          color: #828fb0;
          &:hover {
            color: #00a9e0;
          }
        }
      }
      .icon {
        vertical-align: middle;
        margin-right: 4px;
        &-sina,
        &-wx,
        &-phone,
        &-msgTop {
          font-size: 1.8rem;
        }
        &-msgTop {
          transform: rotateY(-180deg);
          position: relative;
          display: inline-block;
          &-msgC {
            &::after {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              border-radius: 3px;
              background: #fd3948;
              top: 0;
              left: 0;
              position: absolute;
            }
          }
        }
        &-zczj-b {
          width: 29px;
          height: 16px;
          background-size: 29px 16px;
          background: url(../img/icon-zczj-b.png);
          margin-top: -2px;
        }
      }
    }
  }
  .header-top-l {
    span>a {
      color: #fff;
      &:hover {
        color: #5ee075;
      }
    }
    span+span {
      border-left: 1px #fff solid;
      padding-left: 12px;
    }
    .top-wx {
      height: 40px;
      position: relative;
      &:hover .pop-wx {
        @include pop();
        top: 26px;
        right: -10px;
        left: auto;
        min-width: 120px;
        &::after {
          right: 12px;
          left: auto;
        }
      }
    }
    .app {
      position: relative;
      &:hover .pop-app {
        @include pop();
        top: 26px;
        left: 10px;
        min-width: 120px;
      }
    }
  }
  .header-top-r {
    float: right;
    &>span {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      a {
        color: #fff;
      }
      &.top-login {
        position: relative;
        z-index: 10000;
        a {
          padding: 0 4px;
        }
        img {
          width: 30px;
          height: 30px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 15px;
        }
        span.user-name {
          max-width: 60px;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
        }
        .pop-up {
          left: -20px;
          right: auto;
          top: 40px;
        }
        &:hover .pop-up {
          @include pop();
        }
      }
    }
  }
}

header {
  height: 76px;
  .header-warp {
    height: 76px;
    top: 40px;
    width: 100%;
    z-index: 1001;
    background: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  }
  .container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .nav {
    .logo {
      position: absolute;
      left: 15px;
      top: 15px;
      display: inline-block;
      width: 119px;
      img {
        height: 46px;
        width: 100%;
      }
    }
    .triggers {
      display: none;
      a {
        display: inline-block;
        width: 100px;
        height: 100%;
      }
    }
    nav {
      float: left;
      padding-left: 160px;
      a {
        display: block;
        height: 76px;
        line-height: 76px;
        position: relative;
        float: left;
        font-size: 1.8rem;
        color: #494949;
        padding: 0 15px;
        &.mobile-show {
          display: none;
        }
        &.cur,
        &:hover {
          color: #00a9e0;
          text-decoration: none;
        }
      }
    }
  }
  .login-btns {
    float: right;
    height: 76px;
    .tool-nav {
      height: 76px;
      font-size: 0;
      &>li {
        height: 100%;
        display: inline-block;
        margin-left: 10px;
        .item {
          height: 30px;
          line-height: 30px;
          display: inline-block;
          vertical-align: top;
          border: 1px #00a9e0 solid;
          border-radius: 15px;
          padding: 0 10px;
          font-size: 1.8rem;
          color: #00a9e0;
          margin-top: 24px;
          &>a {
            color: #00a9e0;
            padding: 0 4px;
          }
        }
        &.login-btn {
          margin-left: 0;
        }
        &.go-zczj {
          .item {
            &::before {
              display: inline-block;
              content: '';
              background: url(../img/icon-zczj.png);
              width: 20px;
              height: 11px;
              vertical-align: middle;
              margin-top: -4px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
  .navLogin>.login-btns {
    .tool-nav {
      &>li:nth-of-type(1) {
        .avatar {
          border: none;
          height: 100%;
          line-height: 76px;
          margin-top: 0;
          position: relative;
          &>a {
            display: inline-block;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            img {
              width: 35px;
              height: 35px;
              border-radius: 30px;
            }
          }
        }
      }
      @at-root {
        .pop-up {
          background: #fff none repeat scroll 0 0;
          border: 1px solid #ddd;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          min-width: 180px;
          padding: 20px;
          position: absolute;
          right: 14px;
          top: 62px;
          transform: scale(0);
          transform-origin: 90% 0 0;
          transition: none 0s ease 0s;
          visibility: hidden;
          font-size: 1.4rem;
          a {
            color: #828fb0;
            &.userinfo {
              border-bottom: 1px solid #eee;
              display: block;
              padding-bottom: 10px;
              img {
                border-radius: 30px;
                float: left;
                height: 35px;
                margin-right: 10px;
                width: 35px;
              }
              span {
                display: block;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
          a:hover {
            color: #00a9e0;
          }
          .menu {
            a {
              display: block;
              height: 36px;
              line-height: 36px;
              border-top: solid 1px #eee;
              padding: 0 6px;
              font-size: 13px;
              color: #828fb0;
              text-align: left;
              &:hover {
                color: #00a9e0;
              }
            }
          }
          &::after {
            border-color: none;
            background: #fff none repeat scroll 0 0;
            border-color: #ddd;
            border-image: none;
            border-style: solid;
            border-width: 1px 1px 0 0;
            content: " ";
            height: 10px;
            position: absolute;
            right: 6px;
            top: -6px;
            transform: rotate(-45deg);
            width: 10px;
          }
        }
      }
    }
  }
  .navLogin>.login-btns .tool-nav li .avatar:hover .pop-up {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.31, 0.57, 0.68, 1.36) 0s;
    visibility: visible;
    z-index: 100;
    top: 70px;
  }
}

@mixin header--1150() {
  header {
    height: 64px;
    .header-warp {
      height: 64px;
    }
    .nav {
      .logo {
        top: 5px;
      }
      nav {
        a {
          height: 64px;
          line-height: 64px;
          font-size: 1.6rem;
        }
      }
    }
    .login-btns {
      height: 64px;
      .tool-nav {
        font-size: 0;
        &>li {
          .item {
            font-size: 1.6rem;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@mixin header--1050() {
  header {
    .nav {
      nav {
        a {
          font-size: 1.4rem;
          padding: 0 6px;
        }
      }
    }
    .login-btns {
      .tool-nav {
        font-size: 0;
        &>li {
          padding: 0 6px;
          font-size: 1.4rem;
          .login {
            font-size: 0;
            .line {
              font-size: 1.4rem;
            }
            .item {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}


// 底部
.footer {
  margin-top: 20px;
  background: #40454b;
  color: #fff;
  font-size: 0px;
  position: relative;
  z-index: 999;
  .info dl {
    margin: 0 2rem;
    width: calc(16.666666666666668% - 4rem);
    float: left;
    font-size: 1.2rem;
    display: inline;
    dt {
      font-size: 1.7rem;
      padding: .4rem 0;
    }
    dd {
      line-height: 26px;
      p {
        line-height: 24px;
      }
    }
    &:nth-of-type(4) {
      width: calc(50% - 4rem);
      img {
        float: left;
        width: 94px;
        height: 94px;
        margin-right: 10px;
      }
    }
  }
  .bottom {
    padding: 4px 10px;
    line-height: 24px;
    font-size: 1.4rem;
    text-align: center;
    background: #34393f;
    margin-top: 10px;
  }
}

.container{transition: all .5s;
  overflow: hidden;
}

.note-list{
  padding-top: 10px;
  dt,dd{
    height: 30px;
    line-height: 30px; 
    padding: 0 10px;  
  }
  dt{
    background: #eee;
  }
  dd{
    border-top: 1px #828fb0 dashed;
    padding-left: 15px;
  }
}
